//自定义变量

////navbar
$navbarSize: 45px;
$navBgColor: #2a2a2a;
$navBdColor: #f49484;

//navbar 链接的样式
$navHoverBgColor: #f49484;
$navActiveColor:#e78170;
$navTextShadowColor: #de533a;


$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
