@import '../../theme/varibles.scss';

.navbar-box{
  position:fixed;
  top:0;
  left: 0;
  height: $navbarSize;
  width: 100%;
  @media (min-width: $screen-sm-min){
    height: 100%;
    width: $navbarSize;
  }
  .navbar-menu {
    position:relative;
    top:0;
    left: 0;
  }
  .navbar-shrink {
    display: block;
    @media (min-width: $screen-sm-min){
      display: none;
    }
  }
  .navbar-extended {
    display: none;
    @media (min-width: $screen-sm-min){
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding-bottom: 5px;
    }
  }
}

.navbar-skin{
  @media (min-width: $screen-sm-min){
    background: $navBgColor;
    box-shadow: none;
  }
  .navbar-item{
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
  }

  @at-root .navbar-menu {
    .navbar-item {
      float: left;
      width: $navbarSize;
      height: $navbarSize;
      &:hover{
         background-color: $navHoverBgColor;
         color:white;
      }
    }

    .logo {
      font-size: 18px;
    }
  }

}